<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}} - {{@blog.description}} @ {{@blog.title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scralable=0,shrink-to-fit=no" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{asset "img/apple-touch-icon-57x57.png"}}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset "img/apple-touch-icon-114x114.png"}}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset "img/apple-touch-icon-72x72.png"}}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset "img/apple-touch-icon-144x144.png"}}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{asset "img/apple-touch-icon-60x60.png"}}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{asset "img/apple-touch-icon-120x120.png"}}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{asset "img/apple-touch-icon-76x76.png"}}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{asset "img/apple-touch-icon-152x152.png"}}" />
  <link rel="icon" type="image/png" href="{{asset "img/favicon-196x196.png"}}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{asset "img/favicon-96x96.png"}}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{asset "img/favicon-32x32.png"}}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{asset "img/favicon-16x16.png"}}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{asset "img/favicon-128.png"}}" sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#000000" />
  <meta name="msapplication-TileImage" content="{{asset "img/mstile-144x144.png"}}" />
  <meta name="msapplication-square70x70logo" content="{{asset "img/mstile-70x70.png"}}" />
  <meta name="msapplication-square150x150logo" content="{{asset "img/mstile-150x150.png"}}" />
  <meta name="msapplication-wide310x150logo" content="{{asset "img/mstile-310x150.png"}}" />
  <meta name="msapplication-square310x310logo" content="{{asset "img/mstile-310x310.png"}}" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    {{!-- Script to detect mobile devices --}}
    <script src="https://cdn.jsdelivr.net/mobile-detect.js/1.3.3/mobile-detect.min.js"></script>
    {{!-- Script to detect when images have been downloaded --}}
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

    {{!-- Script for the new Koenig editor --}}
    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>

</body>
</html>
